body {
    background-color: #856E5E; 
    margin: 0;
    padding: 0;
    font-style: garamond;
    background-image: url("/assets/photos/bakgrund.jpg");
    height: fit-content; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p  { 
    font-size: 16px;
   
    
}
h1 {
    padding: 15px;
}
.wrapper-body {  
    
    
   
}


.header {
   
  width: 100%;
    display: grid;
    grid-template-columns: (11, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "loga-hem . . . button-header . button-header . . . drop-meny"
    ;
    background-color: none;
    height: 60px;
    max-height: 600px;
    width: 100%;
    
    
}
.loga-hem {
    grid-area: loga-hem;
    
    /* max-height: fit-content; */
   
   

}
.drop-menu {
    grid-area: drop-meny;
    /* align-self: flex-end; */
    /* justify-self: end; */
    /* justify-items: end; */
}
.drop-menu-hoover {
    grid-area: drop-meny-hoover;
    
}
.button-header {
    grid-area: button-header;
    font-size: 16px;
    font-weight: 550;
    background-color: transparent;
    border: 0px;

    
}


.wrapper-main {
    display: flex;
    justify-content: center;
    text-align: center;
 
    padding-top: 60px;
    padding-bottom: 20px;
}  
.button-index {
    font-size: 18px;
    font-weight: 550;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 8px;
}

.wrapper-main-text {
    padding-bottom: 45px;
}
.wrapper-main-index {
    

}

.wrapper-main-about-us {
    /* background-position: 60%; */

}

.wrapper-main-book-cottage {
    /* background-position: 40%; */

}

.footer {
    display: grid;

    grid-template-columns: (7, 1fr);
    /* grid-template-rows: auto; */
    grid-template-areas: 
    "kontakt . . . . . adress";
    padding: 20px;
    background-color: none;
   
}
.kontakt {
    grid-area: kontakt;
    justify-items: flex-start;
    /* align-self: baseline; */
    
}
.adress {
    grid-area: adress;
    justify-self: flex-end;
}